.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_container{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.274) 2px 2px 2px;
}

.home_cam1,.home_cam2{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.1em;
    margin: 0.5em;
    height: 40vh;
    width: 40vh;
}

.home_chat{
    border: 1px solid rgba(0, 0, 0, 0.384);
    height: calc(80vh + 0.9em);
    width: 50vh;
    margin: 0.5em;
    margin-left: 0;
}

.home_back{
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    font-size: 1.3em;
    box-shadow: rgba(0, 0, 0, 0.274) 2px 2px 2px;
    padding: 0.2em 0.4em;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .home{
        align-items: flex-end;
    }

    .home_container{
        flex-direction: column;
        height: 85vh;
        width: 100vw;
    }

    .home_camContainer{
        position: relative;
    }

    .home_cam1{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15vh;
        height: 15vh;
        z-index: 10;
    }

    .home_cam2{
        height: 50vh;
        width: 95vw;
    }

    .home_chat{
        height: 30vh;
        width: 95vw;
        margin-left: 0.5em;
    }

    .home_back{
        font-size: 1em;
    }
  }